<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoHotkey.Interop" version="1.0.0.1" targetFramework="net48" />
  <package id="Ljs.Core" version="1.2.8524.27409" targetFramework="net48" />
  <package id="Ljs.UI" version="1.1.8517.23712" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OpenCVSharp" version="2.4.0.1" targetFramework="net48" />
</packages>